%footer#footer.text-center

  %hr.visible-print

  - if data.site.footer_links
    %ul.footer-nav-list
      - data.site.footer_links.each do |name, url|
        %li= link_to name.strip, url.strip, target: "_blank"

  =# data.site.founding_year
  - founding = data.site.founding_year
  - year_string = if founding && founding.to_i < Time.now.year
    - founding.to_s + '&ndash;' + Time.now.year.to_s
  - else
    - Time.now.year.to_s

  = data.site.copyright || "&copy; #{year_string} #{data.site.owner || data.site.name}"

